<!DOCTYPE html>
<html lang="en" ng-app="unit-testing">
<head>
    <meta charset="UTF-8">
    <title>Angular Unit Testing</title>
</head>
<body ng-controller="UnitTestController as vm">

<h1>{{vm.title}}</h1>
<h3>{{vm.error}}</h3>

<section>
    <form ng-submit="vm.addDestination()">
        <label>City: <input name="city" type="text" ng-model="vm.newDestination.city"></label>
        <label>Country: <input name="country" type="text" ng-model="vm.newDestination.country"></label>

        <input type="submit" value="Add">
    </form>
</section>

<section>
    <h2>Your Trip</h2>

    <div ng-repeat="destination in vm.destinations">
        <span>{{destination.city}}, {{destination.country}}</span>
        <span ng-if="destination.weather"> - {{destination.weather.main}}, {{destination.weather.temp}}&deg;C</span>

        <button ng-click="vm.removeDestination($index)">Remove</button>
        <button ng-click="vm.getWeather(destination)">Update Weather</button>
    </div>
</section>

<section>
    <h2>Warmest Destinations</h2>

    <div ng-repeat="destination in vm.destinations | warmestDestinations: 10">
        <span>{{destination.city}}, {{destination.country}}</span>
    </div>
</section>

<script src="bower_components/angular/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>